$transformare_i: skewX(0deg) !default;
$transformare_f: skewX(90deg) !default;
$setare-server: 7 !default;
$animation-delay: 0s;
#sectiune-galerie-animata {
  padding-left: 4%;
  padding-right: 4%;
}
.galerie-a {
  width: 400px;
  height: 300px;
  border: 4px inset black;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}
.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}
.galerie-a figure {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0;
}
@for $i from ($setare-server) to 0 {
  #galerie-animata figure:nth-of-type(#{$i}) {
    animation-delay: $animation-delay;
  }
  $animation-delay: $animation-delay + 2s;
}

#galerie-animata figure {
  position: absolute;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: $animation-delay;
  transform-origin: center center;
}
#galerie-animata:hover figure {
  animation-play-state: paused;
}

@if ($setare-server<=7) {
  @keyframes gal_exemplu {
    0% {
      z-index: 10;
      opacity: 1;
      clip-path: circle(70%);
    } /*perioada 0-5% in care se afiseaza fara efect */
    6% {
      clip-path: circle(30%);
      transform: $transformare_i;
    } /*transformare inceput disparitie*/
    10% {
      opacity: 0.5;
    } /* de  aici doresc sa descresc si opacitatea;*/
    12% {
      z-index: 10;
      opacity: 0;
      transform: $transformare_f;
    }
    12.01% {
      z-index: -10;
      transform: $transformare_i;
    } /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/

    88% {
      opacity: 0;
      transform: $transformare_i;
      z-index: -10;
    }
    88.01% {
      z-index: 0;
    } /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
    100% {
      opacity: 1;
      z-index: 0;
    }
  }
} @else {
  @keyframes gal_exemplu {
    0% {
      z-index: 10;
      opacity: 1;
      clip-path: circle(70%);
    } /*perioada 0-5% in care se afiseaza fara efect */
    5% {
      clip-path: circle(30%);
      transform: $transformare_i;
    } /*transformare inceput disparitie*/
    8% {
      opacity: 0.5;
    } /* de  aici doresc sa descresc si opacitatea;*/
    10% {
      z-index: 10;
      opacity: 0;
      transform: $transformare_f;
    }
    10.01% {
      z-index: -10;
      transform: $transformare_i;
    } /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/

    90% {
      opacity: 0;
      transform: $transformare_i;
      z-index: -10;
    }
    90.01% {
      z-index: 0;
    } /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
    100% {
      opacity: 1;
      z-index: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  #sectiune-galerie-animata {
    display: none;
  }
}
