<!DOCTYPE html>
<html>
  <head>
    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
      <h2>404 Not found</h2>
      <img src="/resurse/imagini/404.png" alt="404" style="width: 70%" />
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
