<!DOCTYPE html>
<html>
  <head>
    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
      <h2>BARBATI</h2>
      <section id="pantofisportb">
        <ul>
          <li>
            <header>
              <h3>PANTOFI SPORT</h3>
            </header>
           
            <p>Adidas ACN star 209</p>
          </li>
        </ul>
      </section>
      <section id="gheteb">
        <h3>GHETE</h3>
        <ul>
          <li>
            <header>
              <h3>GHETE</h3>
            </header>
            
            <p>ACN Boot 234</p>
          </li>
        </ul>
      </section>
      <section id="slapisandaleb">
        <ul>
          <li>
            <header>
              <h3>SLAPI SI SANDALE</h3>
            </header>
            
            <p>ACN Flip-Flops 213</p>
          </li>
        </ul>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
