<!DOCTYPE html>
<html>
  <head>
    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
      
<h3>Date de contact</h3>
<p>Telefon: 0771779888</p>
<p>Email: ACNshoes@gmail.com</p>
<p>Suport clienti: Luni-Vineri: 9:00-19:00</p>
</section>
<!-- subetapa 12 -->
<section>
<h3>DETALII</h3>
<h4>INTREBARI FRECVENTE:</h4>
<p>
  1. In cat timp se livreaza comenzile? <br />
  Comenzile se livreaza in general in 3-5 zile lucratoare. Pot aparea
  intarzieri in preajma sarbatorilor sau a situatiilor speciale. <br />
  2. Cum se poate efectua plata? <br />
  Plata se poate efectua atat online din pagina comenzii, cat si cash la
  livrare. <br />
  3. In cat timp poate fi disponibil din nou un produs care nu este pe
  stoc in acest moment? <br />
  De obicei, produsele indisponibile momentan vor reveni in magazin in
  2-3 saptamani sau deloc daca sunt editie limitata. <br />
</p>
<strong>
  Parerea ta conteaza! Lasa-ne feedback-ul tau
  <a href="feedback.html">aici</a>
</strong>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
