<!DOCTYPE html>
<html>
  <head>
    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
      <h2>COPII</h2>
      subetapa 11
     <p>
       Apasa
       <a
         target="_blank"
         href="https://www.tikki.ro/blog/cum-sa-alegi-incaltaminte-pentru-primii-pasi-si-de-ce-este-asa-de-importanta.htm"
         >aici</a
       >
       pentru a vedea cum sa alegi <b>incaltaminte</b> pentru bebelusi
     </p>
     <section id="pantofisportc">
       <ul>
         <li>
           <header>
             <h3>PANTOFI SPORT</h3>
           </header>
           
           <p>Adidas ACN star 209</p>
         </li>
       </ul>
     </section>
     <section id="ghetec">
       <ul>
         <li>
           <header>
             <h3>GHETE</h3>
           </header>
          
           <p>ACN Boot 234</p>
         </li>
       </ul>
     </section>
     <section id="slapisandalec">
       <ul>
         <li>
           <header>
             <h3>SLAPI SI SANDALE</h3>
           </header>
           
           <p>ACN Flip-Flops 213</p>
         </li>
       </ul>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
