<!DOCTYPE html>
<html>
  <head>
    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
      <h2>Despre ACNshoes</h2>
      <p>
        Din 2021 site-ul
        <abbr title="Andreea-Cristina Nistor">ACN</abbr> SHOES vine cu modele
        unice de <b>incaltaminte</b> la preturi de nerefuzat, pe toate
        <b>marimile</b>.
      </p>
      <p>
        ACN SHOES este destinatia potrivita pentru iubitorii de
        <b>pantofi sport</b>, <b>ghete</b>, <b>slapi</b> si <b>sandale</b> ce
        pune in prim plan preferintele tuturor consumatorilor. Incercam sa
        oferim produse pe placul tuturor si asiguram o calitate inalta a
        <b>incaltamintei</b>.
      </p>
      <p>
        Stim ca <b>incaltamintea</b> este o parte foarte importanta pentru unii
        oameni. Ea poate completa de minune stilul sau poate deveni elementul
        cel mai important. Pe langa comoditatea pantofilor nostri, asiguram si
        diversitatea modelelor pentru a satisface cat mai multe preferinte. Asa
        cum spune si Christian Louboutin,
        <q
          lang="ro"
          cite="https://www.ele.ro/fashion/stiri-fashion/citate-celebre-din-istoria-modei-vezi-maximele-care-au-inspirat-o-lume-nteaga--32108"
        >
          <b>Pantofii</b> iti transforma limbajul corpului si atitudinea. Te
          ridica fizic si emotional.
        </q>
      </p>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
