<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta
      name="keywords"
      content=" ghete, incaltaminte, pantofi, sport, slapi, sandale, marime, model, ACN shoes"
    />
    <meta
      name="description"
      content="Din 2021 ACN SHOES promite sa ofere incaltaminte calitativa. 
      La noi gasesti pantofi sport, ghete, slapi, sandale pentru toate categoriile de varsta si pentru toate gusturile "
    />

        <title>ACNshoes - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>