#sectiune-galerie-animata {
  padding-left: 4%;
  padding-right: 4%;
}

.galerie-a {
  width: 400px;
  height: 300px;
  border: 4px inset black;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.galerie-a figure {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0;
}

#galerie-animata figure:nth-of-type(11) {
  animation-delay: 0s;
}

#galerie-animata figure:nth-of-type(10) {
  animation-delay: 2s;
}

#galerie-animata figure:nth-of-type(9) {
  animation-delay: 4s;
}

#galerie-animata figure:nth-of-type(8) {
  animation-delay: 6s;
}

#galerie-animata figure:nth-of-type(7) {
  animation-delay: 8s;
}

#galerie-animata figure:nth-of-type(6) {
  animation-delay: 10s;
}

#galerie-animata figure:nth-of-type(5) {
  animation-delay: 12s;
}

#galerie-animata figure:nth-of-type(4) {
  animation-delay: 14s;
}

#galerie-animata figure:nth-of-type(3) {
  animation-delay: 16s;
}

#galerie-animata figure:nth-of-type(2) {
  animation-delay: 18s;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 20s;
}

#galerie-animata figure {
  position: absolute;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 22s;
  transform-origin: center center;
}

#galerie-animata:hover figure {
  animation-play-state: paused;
}

@keyframes gal_exemplu {
  0% {
    z-index: 10;
    opacity: 1;
    clip-path: circle(70%);
  }
  /*perioada 0-5% in care se afiseaza fara efect */
  5% {
    clip-path: circle(30%);
    transform: rotateZ(0deg);
  }
  /*transformare inceput disparitie*/
  8% {
    opacity: 0.5;
  }
  /* de  aici doresc sa descresc si opacitatea;*/
  10% {
    z-index: 10;
    opacity: 0;
    transform: rotateZ(0deg);
  }
  10.01% {
    z-index: -10;
    transform: rotateZ(0deg);
  }
  /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
  90% {
    opacity: 0;
    transform: rotateZ(0deg);
    z-index: -10;
  }
  90.01% {
    z-index: 0;
  }
  /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@media screen and (max-width: 1200px) {
  #sectiune-galerie-animata {
    display: none;
  }
}