main {
  --padd-main: 2rem;
  padding-left: var(--padd-main);
  padding-right: var(--padd-main);
  padding-top: var(--padd-main);
  text-transform: uppercase;
  color: var(--white-text-color);
}
.butoane {
  text-align: center;
}

.filtre {
  text-align: center;
}
input[type="text"],
textarea {
  width: 50%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--input-color);
}
#inp-pret {
  -webkit-appearance: none;
  width: 40%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#inp-pret:hover {
  opacity: 1;
}

#inp-pret::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--nav-color);
  cursor: pointer;
}

#inp-categorie {
  background-color: var(--c1-marcare);
  color: var(--input-color);
}
#inp-categorie:hover {
  background-color: var(--nav-color);
}
#i_sel_multiplu {
  background-color: rgb(59, 59, 59);
  color: var(--input-color);
}

#i_sel_multiplu option:hover {
  background-color: var(--c1-marcare);
  color: var(--input-color);
}

#i_sel_multiplu::-webkit-scrollbar {
  background-color: var(--nav-color);
}
#i_sel_multiplu::-webkit-scrollbar-thumb {
  background-color: var(--cl-marcare);
}

.selecturi {
  display: block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.grid-produse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.grid-produse .produs {
  box-shadow: 0px 0px 0.8rem 0.1rem rgb(0, 0, 0);
  overflow: hidden;
}
#grid-produs {
  display: grid;
  grid-template-areas: "caracteristici categ";
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 4%;
  color: var(--text-color);
}
.grid-produse .produs h3 {
  background-color: var(--produs-shadow1);
  text-align: center;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a {
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 1s linear;
}
.grid-produse .produs h3 a:hover {
  color: black;
  font-size: 1.5rem;
}
.grid-produse .produs figure {
  text-align: center;
}
.grid-produse .produs figure img {
  border: 1px solid grey;
}
.grid-produse .produs .info-prod {
  display: block;
  background-color: var(--produs-fundal);
}
.grid-produse .produs .info-prod ul li p {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
.grid-produse .produs .info-prod ul li p span {
  font-size: 1.2rem;
}
ul li {
  list-style-type: none;
}
ul > li {
  height: 20px;
}
#categ p {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 50px;
}

.info-produse {
  background-color: var(--cl-marcare);
  padding: 0.2rem;
  box-shadow: 0px 0px 0.3rem 0.15rem rgb(59, 59, 59);
}

.produs {
  position: relative;
}
.selecteaza-cos {
  display: inline-block;
  background-color: rgb(179, 179, 179);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.3rem;
  border: 1px solid transparent;
}

.selecteaza-cos:hover {
  background-color: var(--cl-marcare);

  border: 1px solid black;
}
@media screen and (max-width: 700px) {
  .grid-produse {
    display: block;
    padding: 4%;
  }
  .grid-produse .produs {
    overflow: visible;
  }
  .grid-produse .produs h3 a:hover {
    font-size: 1.3rem;
  }
}
