<footer>
  <p id="watermark">
    Copyright & copy; <br />
    Andreea Nistor
  </p>
  <address>
    <a href="mailto:ACNshoes@gmail.com">Trimiteti e-mail la ACN SHOES</a>
    <br />
    <a href="tel:0771779888">Sunati la ACN SHOES</a>
  </address>
  <!-- subetapa 11 -->
  <a id="link-top" href="#top" title="Inapoi la inceputul paginii">
    <span>&#129081;</span>
  </a>
  <a id="banner">
    Acesta este un proiect scolar. Acceptati cookiurile de pe site?
    <button id="ok_cookies">Ok</button>
  </a>
  <a href="/terms-and-conditions">Terms and conditions</a>
  <a href="/privacy-policy">Privacy Policy</a>

  <!-- subetapa 14 -->
  <p>
    Data crearii paginii:<time datetime="2021-10-04">
      <b>04-10-2021</b>
    </time>
  </p>
  <p><small> Copyright & copy; 2021 Andreea Nistor</small></p>
</footer>
