<form
  id="form_inreg"
  method="post"
  class="date"
  action="<%= locals.action %>"
  enctype="multipart/form-data"
>
  <p>
    <label>
      Username:
      <input
        type="text"
        name="username"
        id="inp-username"
        value="prof<%= Math.floor(Math.random()*100000) %>"
        required
        pattern="[A-Za-z0-9]+"
      />
    </label>
  </p>
  <p>
    <label>
      Nume:
      <input
        type="text"
        name="nume"
        id="inp-nume"
        value="Gogulescu"
        pattern="[A-Z][a-z]+([-\.][A-Z][a-z]+)?"
      />
    </label>
  </p>
  <p>
    <label>
      Prenume:
      <input
        type="text"
        name="prenume"
        id="inp-prenume"
        value="Gogu"
        pattern="[A-Z][a-z]+([-\.][A-Z][a-z]+)?"
      />
    </label>
  </p>
  <p>
    <label>
      Parola:
      <input
        id="parl"
        type="password"
        required
        name="parola"
        value=""
        pattern="[A-Z]+[a-z]+[0-9]{2,}[.]"
      />
      <br />
      Parola va fi de forma AAAAaaaa12. (minim o majuscula, minim o litera mica,
      minim 2 cifre si caracterul .)
    </label>
  </p>
  <p id="p-reintrod">
    <label>
      <span id="text_parola">Reintroduceti parola:</span>
      <input id="rparl" type="password" name="rparola" value="" />
    </label>
  </p>
  <p>
    <label>
      Email:
      <input
        type="text"
        name="email"
        id="inp-email"
        required
        value="profprofprof007@gmail.com"
        size="50"
        pattern="[A-Za-z0-9]+([-._A-Za-z0-9]+?)+@+[a-z]+.+[a-z]"
      />
    </label>
  </p>
  <p>
    <label>
      Culoare text chat:
      <select name="culoareText" id="sel-culoare">
        <option value="red" selected>rosu</option>
        <option value="green">verde</option>
        <option value="blue">albastru</option>
      </select>
    </label>
  </p>
  <p>
    <label>
      Problema vedere:
      <input
        class="form-check-input"
        type="checkbox"
        value="true"
        id="ch_problema"
        name="checkbox_vedere"
      />
    </label>
  </p>
  <p>
    <label>
      Fotografie: <input type="file" class="custom-file-input" name="poza" />
    </label>
  </p>
  <p>
    <input type="submit" value="Trimite" />
    <input type="reset" value="Reseteaza" />
  </p>
</form>
