<header>
  <h1>ACNshoes</h1>
  <nav>
    <label id="hamburger" for="ch-menu">
      <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu" />
    </label>
    <input id="ch-menu" type="checkbox" />
    <ul class="meniu">
      <li>
        <a href="/index">
          <span class="fas fa-solid fa-house"></span>
          <span>ACASA</span>
        </a>
      </li>
      <li>
        <a href="/produse">PRODUSE</a>
        <ul>
          <li><a href="/produse">TOATE</a></li>
          <li>
            <a href="/produse?tip=femei">FEMEI</a>
            <ul>
              <li><a href="#pantofisportf">PANTOFI SPORT</a></li>
              <li><a href="#ghetef">GHETE</a></li>
              <li><a href="#slapisandalef">SLAPI SI SANDALE</a></li>
            </ul>
          </li>
          <li>
            <a href="/produse?tip=barbati">BARBATI</a>
            <ul>
              <li><a href="#pantofisportb">PANTOFI SPORT</a></li>
              <li><a href="#gheteb">GHETE</a></li>
              <li><a href="#slapisandaleb">SLAPI SI SANDALE</a></li>
            </ul>
          </li>
          <li>
            <a href="/produse?tip=copii">COPII</a>
            <ul>
              <li><a href="#pantofisportc">PANTOFI SPORT</a></li>
              <li><a href="#ghetec">GHETE</a></li>
              <li><a href="#slapisandalec">SLAPI SI SANDALE</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="/despre">DESPRE NOI</a>
      </li>
      <li>
        <a href="/contact">CONTACT</a>
      </li>
      <li><a href="/detalii">DETALII</a></li>
    </ul>
  </nav>
</header>
